pandas
SPARQLWrapper
matplotlib
python-pptx
bs4
langchain==0.0.147
openai
gradio
py3langid
transformers
torch
sentencepiece
faiss-cpu
psycopg2-binary; platform_python_implementation == "CPython"
psycopg2; platform_python_implementation != "CPython"
pymysql
arxiv
googlemaps
steamship
fastapi
simpleeval
selenium
PyQt5
webdriver-manager
numpy
wolframalpha
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
datasets
requests
pydantic
beautifulsoup4
sympy
tqdm
uvicorn
starlette
beartype
gymnasium
playwright
aiolimiter
sentence_transformers
astor
openai==0.28.1